

$modalHeight: 80%;
$modalWidth: 35em;

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  
  }
  
  .modal {
    background-color: white;
    padding: 1em 4em 3em 4em;
    padding: 20px;
    border-radius: 10px;
    // border: 10px solid black;
    height: $modalHeight;
    max-width: $modalWidth;
    overflow-y: auto; /* Allows scrolling within the modal */
  }
  

.imgContainer {
  // height: 70%;
  display: flex;
  justify-content: center;
}

  .modalImage {
    max-width: $modalWidth/1.5;
    // display: block; // For centering if necessary
    margin-bottom: 20px;
  }
  .links {
  /* other styles */
  font-size: larger;
  margin-right: 10px; /* adjust the value as needed */
}
.links:nth-child(2) {
  margin-left: 10px;
}

  .exit{
    display: flex;
    justify-content: right;
    
    position: sticky;
    top: 0;
    // right: auto;
  }
  .Xicon{
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
  }

  .title{
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .description{
    // margin: 32px, 22px;
    // margin-top: 1rem;
    font-size: 1.3em;
    // width: 35cqw;

  }



  .visitDiv{
    display: flex;
    justify-content: center;
    align-items: center;

    
  }

  .visit{
    font-size: 2em;
    color: black;
    background-color: rgb(202, 55, 55);
    border-radius: 1rem;
    padding: 0.3em 1em;
    cursor: pointer;
    // &:hover {
    //   background-color: beige;
    // }
    // height: 1em;
  }
  .visitIcon{
    height: 1em;
  }

  .closeButton {
    display: block;
    margin-top: 20px;
    // Add additional styles for the close button
  }
  
