.animated-div {
    width: 200px;
    height: 200px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform, box-shadow; /* Hint to the browser that these properties will change */
    padding: 20;
    border-radius: 10px; /* Initial rounded corners */
    /* border-width: 10px; Initial border width */
    /* border-color: black; Initial border color */
  }
  
  .animated-div:hover {
    /* Scale up the div to 110% of its original size */
    transform: scale(1.10) translateY(-5px);
    cursor: pointer;
    /* Apply a green box-shadow to simulate elevation and the green radius */
    border: 5px solid black;
  
    box-shadow: 0px 10px 20px rgba(0, 128, 0, 0.3), 0 5px 5px rgba(0, 128, 0, 0.2);
  }
  
  