/* TypewriterAnimation.css */
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes typewriter-caret {
    from {
        border-color: transparent;
    }
    to {
        border-color: black;
    }
}


/* this what you assign the name to */
.typewriter-text {
    align-items: center;
    justify-content: center;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid black;  /* The typewriter caret */
    width: 0;
    animation: typewriter 3s steps(30, end) forwards,
               typewriter-caret 0.75s step-end infinite alternate;
}


/* another version of typewriter */
.typewriter-container {
    width: 600px;  /* Set this to the width you desire for your container */
    height: 1000px;
    border: 1px solid #ddd; /* Optional: Just for visualization */
  }
  
  .typewriter {
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typewriter cursor */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3s steps(100, end) forwards, 
      blink-caret .2s step-end infinite; /* Adjust the time (10s) for the typing speed */
  }
  
  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
      white-space: nowrap; /* Starts unwrapped */
    }
    to {
      width: 100%;
      white-space: normal; /* Wraps to the container */
    }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  