// dimensions of underline of About
$underline-width: 120px;
$underline-height: 6px;



// Who is this guy
$me-width: 250px;

// color of About and underline
$about-font-size: 35px;
$about-color: black;
$underline-color: black;
$c1: black;

$background: #FDE5EC;


@keyframes slide-in-left {

    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    20% {
        transform: translateX(-80%);

    }
    40% {
        transform: translateX(-60%);
        opacity: 0.6;   
    }
    60% {
        transform: translateX(-40%);

    }
    80% {
        transform: translateX(-20%);
        opacity: 0.9;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
    



.view{
    display: flex; 
    justify-content: center;

    min-height : 100vh; 
    // flex-flow: nowrap;
    // background-color: $background;
}
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 0;
    margin-top: 3rem;
    padding: 0;
    // background-color: white;
    // border: 2px solid black;
   
    width: 1200px;
}
.abtme_box{
    display: flex;
    justify-content: center;
 
}
.about{
    color: $about-color;
    font-family: 'Inter Regular', sans-serif;
    font-size: $about-font-size;
    font-weight: boldest;
    margin-bottom: 0;
    
    opacity: 0;

    // animation: slide-in-left 0.7s ease-in-out;
    // animation-fill-mode: forwards;

}

.underline{
    height: $underline-height;
    width: $underline-width;
    background-color: $underline-color;
    margin-bottom: 25px;
    opacity: 0;
    // animation: slide-in-left 0.7s ease-in-out 0.5s;
    // animation-fill-mode: forwards;

}

.slide-in-left{
    animation: slide-in-left 0.7s ease-in-out 0.5s;
    animation-fill-mode: forwards;
}

.slide-in-left-2{
    animation: slide-in-left 0.7s ease-in-out 1s;
    animation-fill-mode: forwards;
}

.card_4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    /* how to center css grid */
    margin-bottom: 70px;
    // grid-template-rows: 1fr 1fr;
    // flex-wrap: wrap;
    // justify-content: space-around;
}

.Tech_label{
    color: $c1;
    font-family: 'Rubik Bold', sans-serif;
    font-size: 32px;
    margin-bottom: 10;
    margin-top: 0;
    text-align: center;
}

.card_2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.b2{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    
}





.Who_is_this_guy_container{
    color: $c1;
    // font-family: 'Rubik', sans-serif;
    // font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $me-width+60px;
    // margin-top: 0;
}
.me-image {
    height: calc(1.11737*$me-width);
    width: $me-width;
    border-radius: 90px;
}
.title1{
    color: $c1;
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 26px;
}




/* Responsive styles for 500px or less */
@media (max-width: 700px) {
    .card_4{
        grid-template-columns: repeat(2, 1fr);

    }
    .card_2{
        grid-template-columns: repeat(1, 1fr);
    }
}
