$backgroundcolor: #CEE4F7;
$nameTextColor: #AB8C7D;

.main_container {
  background-color: $backgroundcolor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.IAmAnthony{
    color: $nameTextColor;
    font-size: 40px;
    

}

.IAmAnthony h1{
        font-family: "Sacramento", cursive;
}